html, body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #C0D804;
  margin: 0;
  overflow: hidden;
}
div#ivxcanvas {
    width: 100vw;
    height: 100vh;
    background: #00ff00;
}
div#ivxcanvas canvas {

    position: absolute;
    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
div#ivxdemo {

    background: rgba(255,255,255,0.6);
    color: #000000;
    border-radius: 5vw;

    font-size: 5vw;
    width: 80vw;

    position: fixed;
    top:  50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);

}
